.nav-tab {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
}

.nav-tab__link {
  margin: auto 0;
  text-decoration: none;
  color: #270515;
  font-size: 17px;
  font-weight: 500;
}

@media screen and (max-width: 700px) {
  .nav-tab {
    width: 250px;
  }

  .nav-tab__link {
    font-size: 12px;
  }
}

@media screen and (max-width: 360px) {
  .nav-tab {
    width: 150px;
  }

  .nav-tab__link {
    font-size: 8px;
  }
}