.dance-item {
  width: 75%;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 2px #000000 solid;
  border-right: 2px #000000 solid;
  background-color: #fff;
}

.dance-item__title {
  font-size: 30px;
  margin-bottom: 50px;
}

.dance-item__description {
  line-height: 25px;
}

.dance-item__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 60px;
}

.dance-item__video {
  display: flex;
  align-items: center;
  margin-top: 50px;
  width: 100%;
  margin-top: 50px;
}

.dance-item__video:first-child {
  margin-top: 0;
}

.dance-item__iframe {
  width: 100%;
  height: 400px;
}