.achievs {
  width: calc(100% - 180px);
  height: 700px;
  padding: 55px 90px 0;
  margin: 0 auto 95px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.achievs__main {
  width: 560px;
  height: 100%;
}

.achievs__title {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  left: -110px;
  border-top: 3px solid black;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  font-size: 25px;
  font-weight: 600;
  margin: 0 0 35px 20px;
  background-color: white;
  height: 50px;
  padding-right: 80px;
  border-radius: 0 8px 8px 0;
  /* text-shadow: 1.5px 1.5px #7e7e7ea7; */
}

.achievs__image {
  width: 500px;
  height: 600px;
  background-image: url(../../images/achievs.jpg);
  background-size: cover;
  background-position: center;
  margin: auto 0;
  border-radius: 30px;
}

.achievs__list {
  height: 530px;
  width: 90%;
  padding: 20px;
  margin: 0;
  overflow-y: scroll;
  border: thick double black;
  background-color: rgba(255, 255, 255, 0.625);
}

.achievs__item {
  list-style-type: style sty;
  margin: 0 0 16px 15px;
  font-size: 15px;
}

.achievs__item:last-child {
  margin: 0 0 0 15px;
}

@media screen and (max-width: 820px) {
  .achievs__title {
    font-size: 20px;
    padding: 0 20px 0 0;
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .achievs {
    width: calc(100%-60px);
    padding: 50px 30px 0;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
  }

  .achievs__main {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    align-items: center;
  }

  .achievs__title {
    font-size: 17px;
    margin: 0 0 30px;
    width: 100%;
  }

  .achievs__list {
    height: 400px;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
  }

  .achievs__image {
    width: 100%;
  }

  .achievs__item {
    font-size: 10px;
    margin: 0 0 13px 10px;
  }
}

@media screen and (max-width: 380px) {
  .achievs__title {
    font-size: 15px;
    left: -90px;
    padding: 0 10px ;
    text-align: center;
    border-radius: 4px;
    border-left: 3px solid black;
  }

  .achievs__image {
    width: 120%;
  }
}