.portfolio {
  padding-top: 56px;
  margin-bottom: 95px;
  /* height: 913px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.portfolio__title {
  width: 252px;
  height: 46px;
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;
  background-color: #270515;
  line-height: 46px;
  border-radius: 5px;
  margin: 0 auto;
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.2);
}

.portfolio__cardlist {
  /* outline: 1px solid red; */
  width: 86.4%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 45px;
  grid-column-gap: 52px;
  margin: 50px auto 0;
  /* grid-template-rows: repeat(2, 1fr); */
}

@media screen and (max-width: 1279px) {
  .portfolio__cardlist {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 4.07vw;
  }
}

@media screen and (max-width: 820px) {
  .portfolio__cardlist {
    margin: 25px auto 0;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .portfolio__title {
    width: 150px;
    line-height: 35px;
    height: 35px;
    font-size: 15px;
  }
}

@media screen and (max-width: 350px) {
  .portfolio__title {
    width: 120px;
    line-height: 30px;
    height: 30px;
    font-size: 12px;
  }
}