.dance-item {
  width: 75%;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 2px #000000 solid;
  border-right: 2px #000000 solid;
  background-color: #fff;
  position: relative;
}

.dance-item__title {
  padding-top: 5px;
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 50px;
}

.dance-item__description {
  line-height: 25px;
}

.dance-item__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 60px;
}

.dance-item__video {
  display: flex;
  align-items: center;
  margin-top: 50px;
  width: 100%;
  margin-top: 50px;
}

.dance-item__video:first-child {
  margin-top: 0;
}

.dance-item__iframe {
  width: 100%;
  height: 400px;
}

.dance-item__edit-button {
  background-image: url(../../../images/EditAvatar.svg);
  background-color: rgba(0, 0, 0, 0.8);
  color: #000000;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  border-radius: 50%;
  border: none;
  background-size: 20px 20px;
  height: 50px;
  width: 50px;
  right: 50px;
  top: 50px;
  padding: 0;
  object-fit: cover;
  transition: .3s ease;
}

.dance-item__save-button {
  background-image: url(../../../images/EditAvatar.svg);
  background-color: rgba(87, 176, 63, 0.8);
  color: #000000;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  border-radius: 50%;
  border: none;
  background-size: 20px 20px;
  height: 50px;
  width: 50px;
  right: 50px;
  top: 50px;
  padding: 0;
  object-fit: cover;
  transition: .3s ease;
}

.dance-item__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.dance-item__title-input {
  width: 70%;
  font-size: 30px;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 500;
}

.dance-item__description-input {
  min-height: 300px;
  padding: 10px;
  width: 100%;
  border: 1px solid rgba(0,0,0,.2);
}

.dance-item__link-input {
  margin-top: 50px;
  width: 100%;
  height: 30px;
}