.user {
  list-style: none;
  display: flex;
  flex-direction: row;
  height: 150px;
  border-top: 2px #E8E8E8 solid;
  border-right: none;
  border-left: none;
}

.user__index {
  display: flex;
  align-items: center;
  width: 5%;
  justify-content: center;
  border-right: 2px #E8E8E8 solid;
  font-weight: 500;
  font-size: 20px;
}

.user__types {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  justify-content: space-around;
  width: 10%;
}

.user__type {
  color: rgba(100, 100, 100, 0.533);
  text-align: right;
}

.user__container {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  justify-content: space-around;
  border-right: 2px #E8E8E8 solid;
  width: 75%;
}

.user__item {
  color: black;
  height: 18.4px;
}

.user__buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 10%;
}

.user__edit-button {
  background-image: url(../../../images/EditAvatar.svg);
  background-color: rgba(0, 0, 0, 0.8);
  color: #000000;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  border: none;
  background-size: 15px 15px;
  height: 40px;
  width: 40px;
  padding: 0;
  object-fit: cover;
  transition: .3s ease;
  display: flex;
}

.user__edit-button_active {
  background-color: rgba(87, 176, 63, 0.8);
}

.user__edit-button_active:disabled {
  opacity: .2;
  cursor: default;
}

.user__delete-button {
  display: flex;
  outline: 1px solid red;
  border: none;
  background-image: url(../../../images/Urn.svg);
  background-color: rgba(253, 50, 50, 0.936);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  border: none;
  background-size: 15px 15px;
  height: 40px;
  width: 40px;
  padding: 0;
  object-fit: cover;
  transition: .3s ease;
}