.menu {
  width: 25%;
  /* height: 100%; */
  padding: 40px 0;
}

.menu__item {
  position: relative;
  list-style: none;
  height: 60px;
  background-color: #270515;
  color: #fff;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 0 20px;
  font-size: 16px;
}

.menu__item:first-child {
  margin-top: 0;
}

.menu__item_active {
  background-color: #2705155d;
  font-weight: 500;
}

.menu__add-item {
  background-color: #fff;
  color: #270515;
  height: 56px;
  border: 2px solid #270515;
  /* border-left: none; */
  border-right: 1px solid #270515;
  justify-content: space-between;
}

.menu__add-image {
  height: 15px;
  width: 15px;
}